@import "theme.css";
* {
    border: none;
    border-radius: 0;
    font-family: monospace; 
    font-weight: normal;
    font-size: 14px;
    min-height: 0;
}

#waybar {
    background: #282828; 
}

tooltip {
    background: rgba(0,0,0,0.2);
}

#workspaces {
    margin-left: 1px;
}

#workspaces button {
    color: #EBDBB2;
}

#workspaces button.active {
    color: #282828;
    background: #EBDBB2;
}

#window {
    color: #EBDBB2;
    margin-left: 15px;
}

#mpris {
    color: @mauve;
}

#network {
    color: #b8bb26;
}

#network.disconnected {
    color: #fb4934;
}

#custom-weather {
    color: #EBDBB2;
}

#custom-pacman {
    color: #EBDBB2;
}

#pulseaudio {
    color: #EBDBB2;
}

#wireplumber {
    color: #EBDBB2;
}

#cpu {
    color: @yellow;
}

#memory {
    color: #EBDBB2;
}

#temperature {
    color: #EBDBB2;
}

#clock {
    color: #EBDBB2;
    margin-right: 10px;
}

#tray {
    color: @red;
}
