* {
    border: none;
    border-radius: 0;
    font-family: JetBrainsMono Nerd Font Propo; 
    font-weight: normal;
    font-size: 14px;
    min-height: 0;
}

#waybar {
    color: #cdd6f4;
    background: #1e1e2e; 
}

tooltip {
    background: rgba(0,0,0,0.2);
}

#workspaces {
    margin-left: 1px;
}

#workspaces button {
    color: #6c7086;
}

#workspaces button.active {
    color: #cdd6f4;
    background: #1e1e2e;
}

#window {
    color: #cdd6f4;
    margin-left: 15px;
}

#custom-nettraf {
  min-width: 120px;
}

#custom-internet {
  margin-right: 5px;
}

#tray {
  margin-right: 15px;
}
